<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thế giới di động</title>
    <link rel="stylesheet" href="../css/datHang.css">
    <link rel="stylesheet" href="../css/indexReponsive.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" />
</head>

<body>
    <div id="main">
        <div class="header">
            <div class="header-top">
                <img src="../img/ảnh 1.webp" height="44px">
            </div>
            <div class="header-between">
                <div class="iconlogo">
                    <img src="../img/logo-the-gioi-di-dong.jpg" height="40px">
                </div>

                <div class="header-between-1">
                    <div class="search-box">
                        <i class="fas fa-search search-icon"></i>
                        <input type="text" class="search-input" placeholder="Bạn tìm gì....">
                    </div>
                </div>
                <div id="menu-icon">
                    <i class="fa fa-bars"></i>
                </div>
                <div class="header-menu">
                    <div class="lemon">
                        <a href="#" style="text-decoration: none;color: #000; ">Tài khoản & Đơn hàng </a>
                    </div>
                    <div class="lemon1">
                        <a href="../template/giohang.html" style="text-decoration: none;color: #000;"><i
                                class="fas fa-shopping-cart"></i> Giỏ
                            hàng</a>
                    </div>
                    <div class="lemon2">
                        <a href="" style="text-decoration: none;color: #000;"> 24h Công Nghệ</a>
                    </div>
                    <div class="lemon3">
                        <a href="" style="text-decoration: none;color: #000;">Hỏi Đáp</a>
                    </div>
                    <div class="lemon4">
                        <a href="" style="text-decoration: none;color: #000;">Game App</a>
                    </div>
                </div>
            </div>
            <div class="content-1">
                <img src="../img/anh2.webp" height="450px">
            </div>
        </div>

        <!-- body -->
        <div id="tbody">
            <div class="ChuyenTrang">
                <span><a href="../index.html" class="dienthoai1">Điện thoại</a></span>
                <span class="LonHon">></span>
                <span><a href="" class="dienthoai2">Điện thoại Iphone</a></span>
            </div>
            <div class="content-Phone">
                <span class="content-phone1">Điện thoại SamSung Galaxy S23 Ultra 5G 8GB/256GB</span>
                <span><img src="//cdn.tgdd.vn/mwgcart/mwgcore/ContentMwg/images/TGDD/Product/label-only.png" alt=""
                        width="172" height="20"></span>
                <span class="content-phone2">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </span>
                <span class="content-phone3">
                    <a href="">132 đánh giá</a>
                </span>
                <span class="content-phone4">
                    <i class="fa-solid fa-circle-plus"></i>
                    <a href=""> So sánh</a>
                </span>
                <span class="content-phone-cs">chia sẻ</span>
                <span class="content-phone-bt">
                    <i class="fa-solid fa-thumbs-up"></i>
                    thích <span>63</span>
                </span>

                <hr>
            </div>
            <div class="content-img">
                <div class="content-img-anh">
                    <div class="slick-slider-img">
                        <div>
                            <img src="../img/samsung-galaxy-s23-ultra-thumb-1020x570.jpg"
                                alt="Samsung Galaxy S23 Ultra 5G 8GB/256GB" width="710" height="394">
                        </div>
                        <div>
                            <img class="owl-lazy"
                                data-src="https://cdn.tgdd.vn/Products/Images/42/301796/Slider/samsung-galaxy-s23-ultra-ai-1020x570.jpg"
                                width="710" height="394" alt="Samsung Galaxy S23 Ultra 5G 12GB/512GB"
                                style="opacity: 1;"
                                src="https://cdn.tgdd.vn/Products/Images/42/301796/Slider/samsung-galaxy-s23-ultra-ai-1020x570.jpg">
                        </div>
                        <div>
                            <img class="owl-lazy"
                                data-src="https://cdn.tgdd.vn/Products/Images/42/301796/Slider/samsung-galaxy-s23-ultra-5g-512gb638120527278210835.jpg"
                                width="710" height="394" alt="Samsung Galaxy S23 Ultra 5G 12GB/512GB"
                                style="opacity: 1;"
                                src="https://cdn.tgdd.vn/Products/Images/42/301796/Slider/samsung-galaxy-s23-ultra-5g-512gb638120527278210835.jpg">
                        </div>
                        <div>
                            <img class="owl-lazy"
                                data-src="https://cdn.tgdd.vn/Products/Images/42/301796/Slider/man-hinh-s23-ultra-1020x570.jpg"
                                width="710" height="394" alt="Samsung Galaxy S23 Ultra 5G 12GB/512GB"
                                style="opacity: 1;"
                                src="https://cdn.tgdd.vn/Products/Images/42/301796/Slider/man-hinh-s23-ultra-1020x570.jpg">
                        </div>
                        <div>
                            <img class="owl-lazy"
                                data-src="https://cdn.tgdd.vn/Products/Images/42/301796/Slider/samsung-galaxy-s23-ultra-1020x570.jpg"
                                width="710" height="394" alt="Samsung Galaxy S23 Ultra 5G 12GB/512GB"
                                style="opacity: 1;"
                                src="https://cdn.tgdd.vn/Products/Images/42/301796/Slider/samsung-galaxy-s23-ultra-1020x570.jpg">
                        </div>
                        <div>
                            <img class="owl-lazy"
                                data-src="https://cdn.tgdd.vn/Products/Images/42/301796/Slider/samsung-galaxy-s23-ultra-5g-512gb638120527282360861.jpg"
                                width="710" height="394" alt="Samsung Galaxy S23 Ultra 5G 12GB/512GB"
                                style="opacity: 1;"
                                src="https://cdn.tgdd.vn/Products/Images/42/301796/Slider/samsung-galaxy-s23-ultra-5g-512gb638120527282360861.jpg">
                        </div>
                        <div>
                            <img class="owl-lazy"
                                data-src="https://cdn.tgdd.vn/Products/Images/42/301796/Slider/samsung-galaxy-s23-ultra-cau-hinh-2048x1144.jpg"
                                width="710" height="394" alt="Samsung Galaxy S23 Ultra 5G 12GB/512GB"
                                style="opacity: 1;"
                                src="https://cdn.tgdd.vn/Products/Images/42/301796/Slider/samsung-galaxy-s23-ultra-cau-hinh-2048x1144.jpg">
                        </div>
                        <div>
                            <img class="owl-lazy"
                                data-src="https://cdn.tgdd.vn/Products/Images/42/301796/Slider/camera-s23-ultra-1020x570.jpg"
                                width="710" height="394" alt="Samsung Galaxy S23 Ultra 5G 12GB/512GB"
                                style="opacity: 1;"
                                src="https://cdn.tgdd.vn/Products/Images/42/301796/Slider/camera-s23-ultra-1020x570.jpg">
                        </div>
                        <div>
                            <img class="owl-lazy"
                                data-src="https://cdn.tgdd.vn/Products/Images/42/301796/Slider/samsung-galaxy-s23-ultra-5g-512gb638120527286730839.jpg"
                                width="710" height="394" alt="Samsung Galaxy S23 Ultra 5G 12GB/512GB"
                                style="opacity: 1;"
                                src="https://cdn.tgdd.vn/Products/Images/42/301796/Slider/samsung-galaxy-s23-ultra-5g-512gb638120527286730839.jpg">
                        </div>
                        <div>
                            <img class="owl-lazy"
                                data-src="//cdn.tgdd.vn/mwgcart/mwgcore/ContentMwg/images/bg_csmh_tgdd-min.png?v=12"
                                width="710" height="394" alt="Chính sách đổi trả" style="opacity: 1;"
                                src="//cdn.tgdd.vn/mwgcart/mwgcore/ContentMwg/images/bg_csmh_tgdd-min.png?v=12">
                        </div>
                    </div>
                    <br>
                </div>
                <div class="content-info">
                    <div class="info-ram">
                        <span>8GB - 256GB</span>
                        <span>12GB - 512GB</span>
                    </div>
                    <div class="info-color">
                        <span>Xanh rêu</span>
                        <span>Đen</span>
                        <span>Tím nhạt</span>
                        <span>Kem</span>
                    </div>
                    <div class="info-address">
                        <span class="info-address1">Giá tại</span>
                        <span class="info-address2"><a href="">Hồ Chí Minh <i
                                    class="fa-sharp fa-solid fa-chevron-down"></i></a></span> <br>
                        <span class="info-address3">24.990.000<i class="fa-solid fa-dong-sign"></i></span>
                        <span class="info-address4">Trả góp 0%</span> <br>
                        <img src="../img/trang-chi-tiet-desk-920x230.png" alt="" width="920" height="230">
                    </div>
                    <div class="info-khuyenmai">
                        <h3>Khuyến mãi trị giá 1.000.000<i class="fa-solid fa-dong-sign"></i></h3>

                        <div class="info-khuyenmai1">
                            <span class="info-khuyenmai1-1">1.</span>
                            <span>
                                Chọn 1 trong các khuyến mại: <br>
                                <div class="info-khuyenmai1-1-1">
                                    <input type="radio" value="">giảm giá 1,000,000đ <br>
                                    <input type="radio" value="">Tặng thêm 12 tháng bảo hành chính hãng (Tổng cộng 24
                                    tháng)
                                </div>
                            </span>
                            <span class="info-khuyenmai1-1">2.</span>
                            <span>
                                Thu cũ Đổi mới: Giảm đến 500.000đ (Không kèm ưu đãi qua cổng thanh toán, mua kèm) <a
                                    href="">Xem chi tiết</a>
                            </span> <br>
                            <span class="info-khuyenmai1-1">3.</span>
                            <span>
                                Cơ hội trúng 10 xe máy Yamaha Sirius mỗi tháng, tổng giải thưởng lên đến 390 Triệu <a
                                    href="">Xem chi tiết</a>
                            </span> <br>
                            <span class="info-khuyenmai1-1">4.</span>
                            <span>
                                Trả góp 0% thẻ tín dụng qua Quà tặng Galaxy. <a href="">(Xem chi tiết tại đây)</a>
                            </span>
                        </div>
                    </div>
                    <div class="info-icon-button">
                        <span><i class="fa fa-map-marker" aria-hidden="true"></i><a href="">Chọn địa chỉ nhận hàng</a>
                            để biết thời gian nào.</span> <br>
                        <span><i class="fa fa-university" aria-hidden="true"></i> <a href="">Xem siêu thị có
                                hàng</a></span> <br>
                        <div class="ic-bt-buton">
                            <button class="ic-buton-card" type="button">MUA NGAY</button>
                        </div>
                        <div class="info-bt-link">
                            <div class="link1">
                                <a href="">MUA TRẢ GÓP 0% <br>
                                    Duyệt hồ sơ trong 5 phút</a>
                            </div>
                            <div class="link2">
                                <a href="">MUA TRẢ QUA THẺ <br>
                                    Visa, Mastercard, JCB, Amex</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="footer">
                <div class="footer-container">
                    <div class="footer-section">
                        <h4>Thông tin</h4>
                        <ul>
                            <li><a href="#">Giới thiệu công ty</a></li>
                            <li><a href="#">Hệ thống cửa hàng</a></li>
                            <li><a href="#">Tuyển dụng</a></li>
                            <li><a href="#">Liên hệ</a></li>
                        </ul>
                    </div>
                    <div class="footer-section">
                        <h4>Hỗ trợ khách hàng</h4>
                        <ul>
                            <li><a href="#">Chính sách bảo hành</a></li>
                            <li><a href="#">Chính sách đổi trả</a></li>
                            <li><a href="#">Chính sách bảo mật</a></li>
                            <li><a href="#">Gửi góp ý, khiếu nại</a></li>
                        </ul>
                    </div>
                    <div class="footer-section">
                        <h4>Chính sách công ty</h4>
                        <ul>
                            <li><a href="#">Điều khoản sử dụng</a></li>
                            <li><a href="#">Chính sách bảo mật</a></li>
                            <li><a href="#">Chính sách thanh toán</a></li>
                            <li><a href="#">Chính sách vận chuyển</a></li>
                        </ul>
                    </div>
                    <div class="footer-section">
                        <h4>Liên kết mạng xã hội</h4>
                        <div class="social-icons">
                            <a href="#" style="color: rgb(45, 122, 209);"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#" style="color: rgb(250, 97, 97);"><i class="fab fa-instagram"></i></a>
                            <a href="#" style="color: #ff1635;"><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                    <div class="footer-section">
                        <h4>Chăm sóc khách hàng</h4>
                        <p>Hotline: 1800 1060</p>
                        <p>Email: support@thegioididong.com</p>
                        <p>Thời gian hoạt động: 7:30 - 22:00</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Chi tiết đơn hàng, thêm đơn hàng vào giỏ hàng -->
    <div class="add-to-card">
        <div class="add-to-card-layout">
            <div class="add-to-card__header">
                <div class="add-card-header__one">
                    <span class="card-content">Điện thoại Samsung Galaxy S23 FE 5G 8GB/128GB Tím/Xám</span>
                    <span class="close-icon"><i class="fa fa-times" aria-hidden="true"></i></span>
                </div>
                <span class="card-content-money">14.890.000<i class="fa-solid fa-dong-sign"></i></span>
            </div>
            <hr>
            <div class="add-to-card__body">
                <strong>Chọn màu:</strong> <br>
                <div class="card__color">
                    <div class="color1">
                        <img src="https://cdn.tgdd.vn/Products/Images/42/321058/samsung-galaxy-s23-fe-tim-thumbnew-200x200.jpg"
                            loading="lazy">
                        <input type="radio" name="color">Tím
                    </div>
                    <div class="color2">
                        <img src="https://cdn.tgdd.vn/Products/Images/42/321058/samsung-galaxy-s23-fe-black-thumbnew-200x200.jpg"
                            loading="lazy">
                        <input type="radio" name="color">Xám
                    </div>
                </div>
            </div>
            <br>
            <div class="card-to-soluong">
                <span style="font-weight: bold; padding-right: 5px;">Chọn số lượng:</span>
                <span>
                    <button id="delete"><i class="fa fa-minus" aria-hidden="true"></i></button>
                    <input type="text" id="soluong" value="1">
                    <button id="add"><i class="fa fa-plus" aria-hidden="true"></i></button>
                </span>
            </div>
            <hr>
            <div class="add-to-card__footer">
                <strong>Chọn 1 trong 2 khuyến mãi:</strong> <br>
                <input type="radio" name="giamgia" id="giamgia">giảm giá 2,000,000đ <br>
                <input type="radio" name="giamgia" id="tangthem">Tặng thêm 12 tháng bảo hành chính hãng (tổng cộng 24
                tháng) <br>
            </div>
            <ul class="card-footer-list">
                <li>Thu cũ Đổi mới: Giảm đến 500.000đ (Không kèm ưu đãi qua cổng thanh toán, mua kèm) <a href="">Xem chi
                        tiết</a></li>
                <li>Cơ hội trúng 10 xe máy Yamaha Sirius mỗi tháng, tổng giải thưởng lên đến 390 Triệu <a href="">Xem
                        chi tiết</a></li>
                <li>Trả góp 0% thẻ tín dụng qua Quà tặng Galaxy. <a href="">(Xem chi tiết tại đây)</a></li>
            </ul>
            <span class="card-footer-thugon"><a href="">Thu gọn <i class="fa fa-sort-asc"
                        aria-hidden="true"></i></a></span>
            <div class="card-button">
                <button type="button">THÊM VÀO GIỎ HÀNG</button><br>
                <a href="../template/giohang.html">Xem giỏi hàng</a>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="../js/dathang.js"></script>
</body>

</html>